<section class="Perks">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
        <i class="fas fa-map-marked-alt" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading"><%= t("made_in_germany") %></h2>
        <p class="Perks__text"><%= t("we_conduct_all_our_work_from_germany") %></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-shield-alt" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading"><%= t("no_risk") %></h2>
        <p class="Perks__text"><%= t("you_receive_free_test") %></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-handshake" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading"><%= t("successful") %></h2>
        <p class="Perks__text"><%= t("we_advise_companies_from") %></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-dollar-sign" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading"><%= t("transparent_pricing") %></h2>
        <p class="Perks__text"><%= t("you_decide_about_the_maximum_amount_of_time") %></p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>
</section>
