<div class="footer">
  <div class="footer-links">
<!--     <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin "></i></a> -->
  </div>
  <div class="footer-copyright">
    <button id="imprint-button" class="btn"><%= t("show_imprint") %></button>
    <div id="imprint" class="imprint"><h1><%= t("imprint") %></h1><p>Angaben gemäß § 5 TMG</p><p>Jan Spörer <br>
    Hermann-Löns-Straße 5<br>
    57250 Netphen <br>
    </p><p> <strong><%= t("legal_representative") %> </strong><br>
    Jan Spörer<br>
    </p><p><strong><%= t("contact_details") %></strong> <br>
    <%= t("telephone") %><br>
    E-Mail: <a href='mailto:jan@spoerer.me'>jan@spoerer.me</a></br></p>
    <p>  <strong><%= t("vat_id") %></strong> DE313657305<br><br>
    <br>
    <strong><%= t("data_notice") %></strong><br><br>
    Die Nutzung unserer Webseite ist zu Informationszwecken ohne Angabe personenbezogener Daten möglich. Die Nutzung unserer Funktionalitäten erfordert eine Anmeldung, bei der Sie explizit Daten angeben können, die wir daraufhin speichern werden. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir werden keine Kreditkartennummern oder ähnlich sensible Inhalte in der Datenbank unserer Webseite speichern, sondern nutzen hierfür die Dienste von dafür zugelassenen externen Anbietern. <br>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    </p><br>
     </div>
</div>
