<div class="container container__custom">

  <h1> <%= t("add_a_new_ticket") %> </h1>

  <%= render 'form', ticket: @ticket %>

</div>

<div class="container container__custom">

  <h1> <%= t("open_tickets") %> (<%= @open_tickets.count %>) </h1>

  <%= render 'index', tickets: @open_tickets %>

</div>

<div class="container container__custom">

  <h1> <%= t("past_tickets") %> (<%= @past_tickets.count %>) </h1>

  <%= render 'index', tickets: @past_tickets %>

</div>

<div class="container container__custom">

  <h1> <%= t("tickets_closed_by_user") %> (<%= @closed_by_user_tickets.count %>) </h1>

  <%= render 'index', tickets: @closed_by_user_tickets %>

</div>


