<div class="container container__custom">
  <% if @ticket.present? %>
    <div class="col-xs-12">
      <div class="Card__inner">
        <div class="Card__body">
          <h3 class="Card__title"><%= @ticket.title %></h3>
          <div class="Card__price"> <%= "Time max: #{@ticket.max_time}" %> </div>
          <div class="Card__price"> <%= "Time actual: #{@ticket.actual_time}" %> </div>
          <div>
            <%= "#{@ticket.description}" %>
          </div>
          <div>
            <br>
            <h3> <%= t("comments") %> </h3>
            <% if @comments.present? %>
              <% @comments.each do |comment| %>
                <p>
                  <%= "#{comment.content}" %>
                  <br>
                  <%= "by #{comment.ticket.user.first_name} #{comment.ticket.user.last_name}" %>
                </p>
              <% end %>
              <br>
            <% else %>
              <%= t("no_comments") %>
            <% end %>
          </div>
          <div style="margin-top: 20px">
            <%= simple_form_for([@ticket, @comment]) do |f| %>
              <%= f.label :content, t("comment_here") %>
              <%= f.input :content, placeholder: t("comment_placeholder"), label: false %>
              <%= f.submit t("submit_comment") %>
            <% end %>
          </div>
          <%= link_to("Close ticket", ticket_close_path(@ticket), method: :post) %>
        </div>
      </div>
    </div>
  <% else %>
    <%= t("this_ticket_does_not_exist") %>
  <% end %>
</div>
